{% extends "lotzon/base.html" %}

{% block title %}Maps Layers{% endblock %}

{% block content %}
    <h1>Layers</h1>    
    {% if layers %}
        <div class="table-responsive">
            <table class="table table-condensed">
                {% for l in layers %}
                    <tr>
                        <td>
                            <a href="{% url 'maps_render:view' l.id  %}">{{ l.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No layers are available.</p>
    {% endif %}
    <a href="{% url 'map_layer:add' %}">Add Layer</a>

{% endblock %}

{% block scripts %}
	
{% endblock %}