{% extends "lotzon/base.html" %}

{% block title %}Maps Data{% endblock %}

{% block content %}
    <h1>Maps</h1>    
    {% if all_maps %}
        <div class="table-responsive">
            <table class="table table-condensed">
                {% for m in all_maps %}
                    <tr>
                        <td>
                            <a href="{% url 'maps_data:detail' m.id  %}">{{ m.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No maps are available.</p>
    {% endif %}
    <a href="{% url 'maps_data:add' %}">Add Map</a>

{% endblock %}

{% block scripts %}
	
{% endblock %}