<h1>Points</h1>
<form id="frmPoints">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" data-ng-model="points.name" placeholder="My Points" required />
    </div>
    <div class="form-group">
        <label>Split pattern:</label>
        <input type="text" class="form-control" data-ng-model="points.split" placeholder="\;" required />
    </div>
    <div class="form-group">
        <label>File:</label>
        <input type="file" id="file" name="file" class="form-control" data-ng-model="points.file" required file-upload multiple />
    </div>
    <p>
		<button type="submit" class="btn btn-primary btn-sm" ng-click="add(points)">
            <span class="glyphicon glyphicon-plus"></span> Add
        </button>
	</p>
</form>