<h1>Points</h1>
<div class="table-responsive">
    <table class="table table-condensed" >
        <tr>
            <th>
                Heat
            </th>
            <th>
                Points
            </th>
            <th>
                Name
            </th>
        </tr>
        <tr ng-repeat="item in data">
            <td>
                <button type="button" class="btn btn-xs" ng-click="getById(item.pk,'heat')">show</button>
            </td>
            <td>
                <button type="button" class="btn btn-xs" ng-click="getById(item.pk,'point')">show</button>
            </td>
            <td>
                {$ item.fields.name $} 
            </td>
        </tr>
    </table>
</div>
<a href="#/points/add" class="btn btn-primary btn-sm">
  <span class="glyphicon glyphicon-plus"></span> Add Points
</a>